<div class="slds-align_absolute-center">
  <article class="slds-card slds-medium-size_1-of-3">
    <div class="slds-card__header slds-grid">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="slds-media__figure">
        <span class="slds-icon_container slds-icon-standard-account">
          <img src="./assets/img/bp.jpg" alt="BP Healthcare" width="100">
          <span class="slds-assistive-text">account</span>
        </span>
        </div>
      </header>
    </div>
    <div class="slds-grid slds-grid_vertical-align-center slds-m-top_large">
      <div class="slds-col_padded">
        <ngl-input label="Username" fieldLevelHelpTooltip="Enter your valid username">
          <input ngl type="input">
        </ngl-input>
      </div>
    </div>
    <div class="slds-grid slds-grid_vertical-align-center slds-m-top_large">
      <div class="slds-col_padded">
        <ngl-input label="Password" fieldLevelHelpTooltip="Enter your valid password">
          <input ngl type="password">
        </ngl-input>
      </div>
    </div>
    <div class="slds-grid slds-m-top_large" style="margin-bottom: 20px">
      <div class="slds-col_padded">
        <button class="slds-button slds-button_neutral">
          <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#adduser"></use>
          </svg>
          Register account
        </button>
        <button class="slds-button slds-button_brand">
          <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
            <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#add"></use>
          </svg>
          Login
        </button>
      </div>
    </div>
  </article>
</div>
